# dependencies
node_modules/

# Turborepo
.turbo

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# python venv for apps/mobile/scripts/patch-font-metrics.py
.fontenv/
