@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    @variant dark {
      --color-background: oklch(0.3303 0.0214 88.0737);
      --color-foreground: oklch(0.9217 0.0235 82.1191);
      --color-card: oklch(0.3583 0.0165 82.3257);
      --color-card-foreground: oklch(0.9217 0.0235 82.1191);
      --color-popover: oklch(0.3583 0.0165 82.3257);
      --color-popover-foreground: oklch(0.9217 0.0235 82.1191);
      --color-primary: oklch(0.6762 0.0567 132.4479);
      --color-primary-foreground: oklch(0.2686 0.0105 61.0213);
      --color-secondary: oklch(0.4448 0.0239 84.5498);
      --color-secondary-foreground: oklch(0.9217 0.0235 82.1191);
      --color-muted: oklch(0.3892 0.0197 82.7084);
      --color-muted-foreground: oklch(0.7096 0.0171 73.6179);
      --color-accent: oklch(0.654 0.0723 90.7629);
      --color-accent-foreground: oklch(0.2686 0.0105 61.0213);
      --color-destructive: oklch(0.6287 0.0821 31.2958);
      --color-destructive-foreground: oklch(0.9357 0.0201 84.5907);
      --color-border: oklch(0.4448 0.0239 84.5498);
      --color-input: oklch(0.4448 0.0239 84.5498);
      --color-ring: oklch(0.6762 0.0567 132.4479);
    }

    @variant light {
      --color-background: oklch(0.8798 0.0534 91.7893);
      --color-foreground: oklch(0.4265 0.031 59.2153);
      --color-card: oklch(0.8937 0.0395 87.5676);
      --color-card-foreground: oklch(0.4265 0.031 59.2153);
      --color-popover: oklch(0.9378 0.0331 89.8515);
      --color-popover-foreground: oklch(0.4265 0.031 59.2153);
      --color-primary: oklch(0.6657 0.105 118.9078);
      --color-primary-foreground: oklch(0.9882 0.0069 88.6415);
      --color-secondary: oklch(0.8532 0.0631 91.1493);
      --color-secondary-foreground: oklch(0.4265 0.031 59.2153);
      --color-muted: oklch(0.8532 0.0631 91.1493);
      --color-muted-foreground: oklch(0.5761 0.0259 60.9323);
      --color-accent: oklch(0.8361 0.0713 90.3269);
      --color-accent-foreground: oklch(0.4265 0.031 59.2153);
      --color-destructive: oklch(0.7136 0.0981 29.9827);
      --color-destructive-foreground: oklch(0.979 0.0082 91.4818);
      --color-border: oklch(0.6918 0.044 59.8448);
      --color-input: oklch(0.8361 0.0713 90.3269);
      --color-ring: oklch(0.735 0.0564 130.8494);
    }
  }
}
