@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    @variant dark {
      --color-background: #3a3529;
      --color-foreground: #ede4d4;
      --color-card: #413c33;
      --color-card-foreground: #ede4d4;
      --color-popover: #413c33;
      --color-popover-foreground: #ede4d4;
      --color-primary: #8a9f7b;
      --color-primary-foreground: #ede4d4;
      --color-secondary: #5a5345;
      --color-secondary-foreground: #ede4d4;
      --color-muted: #4a4439;
      --color-muted-foreground: #a8a096;
      --color-accent: #a18f5c;
      --color-accent-foreground: #2a2521;
      --color-destructive: #b5766a;
      --color-destructive-foreground: #f0e9db;
      --color-border: #5a5345;
      --color-input: #5a5345;
      --color-ring: #8a9f7b;
    }

    @variant light {
      --color-background: #e4d7b0;
      --color-foreground: #44362c;
      --color-card: #e7dbbf;
      --color-card-foreground: #44362c;
      --color-popover: #f3ead2;
      --color-popover-foreground: #44362c;
      --color-primary: #a0af64;
      --color-primary-foreground: #44362c;
      --color-secondary: #decea0;
      --color-secondary-foreground: #44362c;
      --color-muted: #decea0;
      --color-muted-foreground: #85766a;
      --color-accent: #dbc894;
      --color-accent-foreground: #44362c;
      --color-destructive: #d98b7e;
      --color-destructive-foreground: #faf8f2;
      --color-border: #b19681;
      --color-input: #dbc894;
      --color-ring: #9db18c;
    }
  }
}
