@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    @variant dark {
      --color-background: var(--color-stone-950);
      --color-foreground: var(--color-stone-50);
      --color-card: var(--color-stone-900);
      --color-card-foreground: var(--color-stone-50);
      --color-popover: var(--color-stone-900);
      --color-popover-foreground: var(--color-stone-50);
      --color-primary: oklch(0.6657 0.105 118.9078);
      --color-primary-foreground: var(--color-white);
      --color-secondary: var(--color-stone-800);
      --color-secondary-foreground: var(--color-stone-50);
      --color-muted: var(--color-stone-800);
      --color-muted-foreground: var(--color-stone-400);
      --color-accent: var(--color-stone-800);
      --color-accent-foreground: var(--color-amber-500);
      --color-destructive: var(--color-red-900);
      --color-destructive-foreground: var(--color-red-50);
      --color-border: var(--color-stone-800);
      --color-input: var(--color-stone-800);
      --color-ring: var(--color-amber-500);
    }

    @variant light {
      --color-background: oklch(0.8798 0.0534 91.7893);
      --color-foreground: var(--color-stone-900);
      --color-card: var(--color-white);
      --color-card-foreground: var(--color-stone-900);
      --color-popover: var(--color-white);
      --color-popover-foreground: var(--color-stone-900);
      --color-primary: oklch(0.7951 0.105 118.9078);
      --color-primary-foreground: var(--color-stone-950);
      --color-secondary: var(--color-stone-100);
      --color-secondary-foreground: var(--color-stone-900);
      --color-muted: var(--color-stone-100);
      --color-muted-foreground: var(--color-stone-500);
      --color-accent: var(--color-amber-100);
      --color-accent-foreground: var(--color-amber-900);
      --color-destructive: var(--color-red-600);
      --color-destructive-foreground: var(--color-white);
      --color-border: var(--color-stone-200);
      --color-input: var(--color-stone-200);
      --color-ring: var(--color-amber-600);
    }
  }
}
